<div class="row">
	<div class="col-md-7">
		<div class="bgWhite dashboard-section">
			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" ng-class="{'active': dashboard.dashboardOwner=='principal'}" ng-click="dashboard.dashboardOwner='principal'"><a href="javascript:void(0)" aria-controls="principal" role="tab" data-toggle="tab">Principal</a></li>
			    <li role="presentation" ng-class="{'active': dashboard.dashboardOwner=='chancellor'}" ng-click="dashboard.dashboardOwner='chancellor'"><a href="javascript:void(0)" aria-controls="chancellor" role="tab" data-toggle="tab">Chancellor</a></li>
			  </ul>

			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane" ng-class="{'active': dashboard.dashboardOwner=='principal'}" id="principal">
			    	<div id="droppable-area-principal" class="minHeight500"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane" ng-class="{'active': dashboard.dashboardOwner=='chancellor'}" id="chancellor">
			    	<div id="droppable-area-chancellor" class="minHeight500"></div>
			    </div>
			  </div>
		  </div>
	</div>
	<div class="col-md-5">
		<div class="bgWhite">
			<div id="listOfComponents" class="listOfComponents">
				<h2 class="componentHeader">List of Components</h2>
				<div ng-repeat="chart in dashboard.charts">
					<chart title="chart.title" data="chart.data"></chart>
				</div>
			</div>
		</div>
	</div>
</div>
